In [17]:
# import data from csv file
import pandas as pd
data = pd.read_csv('followers_by_gender_platform.csv')
data.head()

   platforms   gender  percentage_followers  cal_avg_followers
0    Youtube     Male                    30          40.666667
1    Youtube  Female                     70          59.333333
2    Tik Tok     Male                    75                NaN
3    Tik Tok  Female                     25                NaN
4  Instagram     Male                    17                NaN

In [20]:
# convert data from wide to long format
data_wide = pd.pivot(data, index='gender', columns='platforms', values='percentage_followers')
wide_data_followers_reset= data_wide.reset_index()

In [21]:
# export data to new csv file
wide_data_followers_reset.to_csv('followers_by_gender_platform_long.csv', index = False)